.Login {
    padding-top: 120px;
}

.login-card {
    width: 20rem;
    position: relative;
    align-self: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

.login-page {
    background-image: url(../../assets/images/login_background.jpg);
    background-color: aqua;
    background-position: 'center';
    background-size: 'cover';
    background-repeat: 'no-repeat';
    width: '100vw';
    height: '100vh';
}

/* <div style={{ backgroundImage: `url(${background})`,
    backgroundPosition: 'center',
    backgroundSize: 'cover',
    backgroundRepeat: 'no-repeat',
    width: '100vw',
    height: '100vh'}}>
      Hello World
    </div> */